<!DOCTYPE html>
<html>
<head>
  <title>Charm City Blotter</title>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "navigation">
  <nav>
    <% if session[:user] %>
    <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2>
    <% else %>
    <a href="/sign_up">Sign up</a>
    <a href="/sign_in">Sign in</a>
  <% end %>
    <a href="/regions">Home</a>
    <h2><%= flash[:notice] %>
  </nav>
</div>
<div id ="header">
<h1>Charm City Blotter</h1>
</div>
<%= yield %>

</body>
</html>
