<!DOCTYPE html>
<html>
<head>
  <title>Crime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Baltimore Crime</h1>
<nav>
  <a href="/sign_in">Sign in</a>
  <a href="/sign_up">Sign up</a>
  <a href="/sign_out">Sign out</a>
  <h2><%= flash[:notice] %>
</nav>
<%= yield %>

</body>
</html>
